<br>

<div class="row">
  <div class="col-md-3">
    <div class="search-box" >
      <div class="row">
        <div class="col-md-12">
          <form>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= bootstrap_form_tag url: url, method: :get do |f| %>

            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="<%= t :search %>" name="q" value="<%= @q %>">
                <div class="input-group-btn">
                  <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div>

            <div class="form-group" >
              <div class="btn-group btn-group-justified">
                <%= yield(:search_btn_group) %>
              </div>
            </div>

          <% end %>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-9">
    <%= yield %>
  </div>
</div>